$softWhite: #f5f5f5;
$pureWhite: #ffffff;
$deepRed: #b22222;
$darkRed: #820e0e;
$softBlack: #1c2526;
$pureBlack: #000000;
$lightBlack: #3d4f51;
$deepGreen: #22b222;
/*-----------*/

$mainBlue: #2f5572;
$mainOrange: #d59541;
$darkGreen: #0d3b2c;
$lightGreen: #cdf5b3ff;
$lightBeige: #f5deb3;
$lightRed: #ebd6d5;
$darkRed: #820e0e;
$medGreen: #1a7557;
