/* Custom styles for Swiper */
.swiper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 15px;
}
.category-slide__card {
  background-color: $lightBlack;
  padding: 0 12px 12px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.category-slide__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.category-slide__image {
  border-radius: 2px;
  overflow: hidden;
  width: 75px;
  height: 75px;
  margin-top: 1rem;
  position: relative;
  /*top: -33px;*/
  border: 4px solid rgba($darkRed 0.1);
  /*z-index: 1;*/
}
.category-slide__title {
  color: $pureWhite;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 33px 0 0 0;
}
.category-slide__subtitle {
  color: $softWhite;
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0.2rem 0 0.8rem 0;
}
.category-slide__youtube {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}
.category-slide__youtube-icon {
  width: 30px;
  height: 36px;
}
@mixin atLarge {
  .category-slide__card {
    margin-bottom: 0;
    padding: 0 1.5rem 12px 1.5rem;
  }
  .category-slide__title {
    font-size: 1.4rem;
  }
  .category-slide__subtitle {
    font-size: 0.875rem;
  }
  .category-slide__image {
    width: 100px;
    height: 100px;
  }
  .category-slide__youtube {
    top: 10px;
    right: 10px;
  }
  .category-slide__youtube-icon {
    width: 36px;
    height: 42px;
  }
}
